*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: auto;
}
/* utility class */
.d_flex{
  display: flex;
}
.txt_black{
  color: black !important;
}
/* /utility class */
nav{
  margin: 20px 0;
}
.nav_menu_left {
  width: 35%;
}
.nav_menu_left ul{
  width: 80%;
  justify-content: space-between;
}
.nav_menu_right{
  width: 65%;
  justify-content: flex-end;
}
.nav_menu_right ul{
  width: 70%;
  justify-content: space-evenly;
}
.nav_menu_right > ul > li{
  padding: 10px 0;
}
.app{
  width: 30%;
}
.app ul{
  width: 100%;
}
ul{
  align-items: center;
}
ul li{
  list-style: none;
}
li a{
  color: #ababac;
}
a:visited{
  text-decoration: none;
  color: #ababac  
}
a:hover{
  text-decoration: none;
  color: black;
}
select{
  border: none;
  color: #ababac;
}
select:hover{
  cursor: pointer;
  color: black;
}
.btn{
  padding: 6px 18px;
}
.btn-default {
  font-weight: 500;
  color: white;
  background-color: #EB008D;
  border-color: #EB008D;
  border-radius: 17px;
  transition: 0.5s linear;
}
.btn-default:hover{
  color: #EB008D;
  background-color: white;
  border: 2px solid #EB008D;
}
.menu_dropdown{
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
  rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  border-radius: 5px;
  width: max-content !important;
  left: 50%;
  transform: translateX(-50%);
}
.menu_dropdown li{
  padding: 8px 10px;
}
.position_relative{
  position: relative;
}
.position_absolute{
  position: absolute;
}
.d_none{
  display: none;
}